body {
  margin: 0 10px;
  text-align: center;
}

header{
  
  background-image:url(../Chhatralay/image/img2.jpg);
  background-size: cover;
  height: calc(100vh - 110px);
  background-position: center;
  justify-content:center;
  align-items:center;
}
header:before {
  content: "";
  
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

nav{
  width: 100%;
  height: 80px;
  line-height: 80px;
 background: rgba( 255, 255, 255, 0.20);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  position: fixed;
}
.navbar{
  width: 100%;
  display: flex;
  justify-content:space-around;

  
   
}
nav ul{

   list-style-type: none;
   

}
nav ul li{
  display: inline-block;
}
nav ul li a{
  float: right;
  text-decoration: none;
  color:rgb(0, 0, 0);
  padding:5px 20px;
  font-size: 18px;
  transition: 0.6s ease;
}


ul li a:hover{

  color:rgb(255, 255, 255);
  font-weight: bolder;
  opacity: 0.9;
}
#logo{
  float: left;
  font-size: 1rem;
  color:aqua;
 text-shadow:0px 2.7px 5.0px #29dad1 ;
  outline-color: #191919;
}



/*Header*/
.domain {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.3);
  padding:20px 20px;
  
 
 
}

.domain h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
  line-height: 56px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 79px;
  color:aqua;
  text-shadow:7px 8.7px 12.0px #29dad1 ;
}

.domain p {
  color: #eee;
  margin-bottom: 30px;
  font-size: 27px;
  text-align: center;
 
}
.domain .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #cc1616;
  background: #cc1616;
  color: #fff;
 text-align: center;
}
.scrollto:hover{
  border-width: 5px;
}

.button{
  display: flex;
  justify-content: center;
}


@media (min-width: 1024px) {
  #domain {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .domain {
    text-align: center;
  }
  .domain .container {
    padding-top: 40px;
  }
  .domain h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .domain p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.footer_base{
  background-color: #000;
  display: flex;
  margin-top: 4vh;
 
}

#footer {
  background: #0c0c0c;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #191919;
  color: #fff;
  border-top: 4px solid #37b4e6;
  text-align: center;
  padding: 30px 20px;
}
.footer-info h3{
  color:aqua;

  text-shadow:0px 2.7px 5.0px #29dad1 ;
}
#footer .footer-top .footer-info h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #262626;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #37b4e6;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5bd0ed;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top  ul a:hover {
  color: #57dddd;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #37b4e6;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #40baeb;
}
#footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #2ddce8;
}

.foo:hover{
  background-color:#080808;
  font-weight: bold;
}

@media (max-width: 575px)
 {
  #footer .footer-top .footer-info 
  {
    margin: -20px 0 30px 0;
  }
}



/*Content*/
.hello{
  color: #12baed;
  margin-bottom: 20px !important;
  font-size: 45px;
  letter-spacing: 2px;
  text-shadow: 0 0 20px #12baed;
  font-family: 'Righteous', cursive;
}

content .des{
  color:white;
}

.content{ 
  text-align: center;
  
}
.data{
  font-size: 25px;
  background-color: #0c0c0c;
  color:white;
  overflow: hidden;
}

 /*Search box*/
 .search{
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
  width: 500px;
  height: 50px;
  border: 4px solid #000;
  padding: 0px 10px;
  border-radius: 50px;

/* Button*/
.btn{
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 25%;
  height: 3rem;
  box-shadow: 1px 1px 3px 3px #000;
  border-radius: 5px;
  transition: 0.6s ease;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color:#ed1250;
}


.search-field{
  height: 40px;
  width:25%;
  border-radius: 10px;
  outline: none;
  background-color:#fff;
  color: #000;
  box-shadow: 1px 1px 1px 1px #000;
  border: none;
}
.search .elementsContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.search .form-control{
  
  height: 90%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: darkblue;
  font-weight: 500;
  border: none;
}
.search .form-control:focus{
  outline: none;
}
.search .fas fa-search{
  font-size: 25;
  color: #000;
}

.project{
  background-color: black;
}
section.project .card-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin-top: 3rem;
}
section.project .card-wrapper .card{
  background: aqua;
  padding: 3rem 2rem;
  text-align: center;
  transition: all .5s ease;
  border-radius: 0.25rem;
}
section.project .card-wrapper .card:hover{
  background-color: #fff;
  box-shadow: 0 0 5px aqua, 0 0 8px #fff;
}
section.project .card-wrapper .card p{
  font-family: 'Lato', sans-serif;
  color: gray;
  line-height: 1.6;
  margin-top: 0.5rem;
}

/*footer*/

