
body {
  margin: 0;
  padding: 0;
  text-align: center;
  
  
}

header{
  
  background-image:url(../Chhatralay/image/img2.jpg);
  background-size: cover;
 height:100vh;
  background-position: center;
  justify-content:center;
  align-items:center;
}


nav{
  width: 100%;
  height: 80px;
  line-height: 80px;
 background: rgba( 255, 255, 255, 0.20);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
position: fixed; 

  
}
.navbar{
  width: 100%;
  display: flex;
  justify-content:space-around;  

}

.i{
  position:relative;
  left: 500px;
}

nav ul{

   /*list-style-type: none;*/
   float: right;
   margin-right: 40px;

}
nav ul li{
  display: inline-block;
  margin: 0 5px;
  line-height: 80px;
}
nav ul li a{
  
  font-weight: 500;
  text-decoration: none;
  color:rgb(0, 0, 0);
  padding:7px 10px;
  font-size: 19px;
  transition: 0.6s ease;
}
nav #icon{
  font-size: 30px;
  line-height: 80px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  padding-bottom: 10px;
  display: none;
}


ul li a:hover{

  color:rgb(255, 255, 255);
  font-weight: bolder;
  opacity: 0.9;
}
#logo{
  float: left;
  font-size: 1rem;
  color:aqua;
 text-shadow:0px 2.7px 5.0px #29dad1 ;
  outline-color: #191919;
  margin-right: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 1048px) {
  nav #logo{
    font-size: 0.7rem;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}
@media screen and (max-width: 900px) {
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
}





/*========Header========*/
.domain {
  /*width: 100%;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  /*padding:20px 20px;*/
  
 
 
}

.domain h1 {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 700;
  line-height: 56px;
  /*font-family: "Raleway", sans-serif;*/
  font-size: 6rem;
  color:aqua;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  text-shadow:7px 8.7px 12.0px #29dad1 ;
}

.domain p {
  color: #eee;
  margin-bottom: 30px;
  font-size: 50px;
  text-align: center;
 
}
.domain .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 10px 28px;
  transition: 0.5s;
  border: 2px solid #cc1616;
  background: #cc1616;
  text-decoration: none;
  color: #fff;
 text-align: center;
}
.scrollto:hover{
  border-width: 5px;
}

.button{
  display: flex;
  justify-content: center;
}


@media (min-width: 1024px) {
  #domain {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .domain {
    text-align: center;
  }
  .domain .container {
    padding-top: 40px;
  }
  .domain h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .domain p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.footer_base{
  background-color: #000;
  display: flex;
  margin-top: 4vh;
 
}

#footer {
  background: #0c0c0c;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 15px;
  background: #191919;
  color: #fff;
  border-top: 4px solid #37b4e6;
  text-align: center;
  padding: 30px 20px;
}
.footer-info h3{
  color:aqua;

  text-shadow:0px 2.7px 5.0px #29dad1 ;
}
#footer .footer-top .footer-info h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #262626;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #37b4e6;
  color: #fff;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #5bd0ed;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top  ul a:hover {
  color: #57dddd;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}
#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #37b4e6;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}
#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #40baeb;
}
#footer .copyright {
  border-top: 1px solid #262626;
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .credits a {
  color: #2ddce8;
}

.foo:hover{
  background-color:#080808;
  font-weight: bold;
}

@media (max-width: 575px)
 {
  #footer .footer-top .footer-info 
  {
    margin: -20px 0 30px 0;
  }
}



/*========Content========*/

.hello{
  color: #12baed;
  margin-bottom: 20px !important;
  font-size: 45px;
  letter-spacing: 2px;
  text-shadow: 0 0 20px #12baed;
  font-family: "Raleway", sans-serif;
}

.content{ 
  text-align: center;
  
}
.data{
  font-size: 25px;
  color:#000;
  overflow: hidden;
<<<<<<< HEAD
  box-shadow: 5px 5px 10px #ccc, 5px 5px 9px #000;
=======
  box-shadow: 3px 5px 10px #000, 3px 5px 9px #000;
>>>>>>> 9af94b7619c06ab64091933908b6175ba19547a0
}

 /*========Search box========*/
.find{
  /*background: url(../chhatralay/image/13.jfif);*/
  box-shadow: 5px -9px 10px #ccc, 5px -5px 9px #000 inset;
}

 .search{
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;
  position: relative;
  width: 35%;
  height: 50px;
  border: 4px solid #000;
  padding: 0px 10px;
  border-radius: 50px;
  
 }

 .search .elementsContainer{
  width: 100%;
  height: 100%;
  vertical-align: middle;
  
}
.search .form-control{
  
  height: 100%;
  width: 100%;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 15px;
  color: darkblue;
  font-weight: bold;
  border-color:#ffffff;
}



.search .form-control:focus{
  outline: none;
}
.search .fas fa-search{
  font-size: 25;
  color: #000;
}
/*===========Card=========*/

<<<<<<< HEAD

=======
section.project{
  box-shadow: 0px 0px 6px 9px black;
}
>>>>>>> 9af94b7619c06ab64091933908b6175ba19547a0
section.project .card-wrapper{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 6rem;

}
section.project .card-wrapper .card{
  cursor: pointer;
  text-align: center;
  transition: all .5s ease;
  width: 250px;
  height: 350px;
  border: none;
  border-radius: 0;
  box-shadow: 5px 5px 7px #ccc, 5px 5px 9px #000;
}
.middle{
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  
}
/*
section.project .card-wrapper .card:hover{
  background-color: #fff;
  box-shadow: 0 0 5px aqua, 0 0 8px #fff;
}*/

section.project .card-wrapper .card p{
  font-family: 'Lato', sans-serif;
  color: gray;
  line-height: 1.6;
  margin-top: 0.5rem;
}
section.project .card-wrapper .card h4{
  font-weight: bold;
}
section.project .card-wrapper .card .front,.back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}

section.project .card-wrapper .card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
  box-shadow: 5px 5px 6px #ccc, 5px 5px 6px #fff;
} 
section.project .card-wrapper .card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 5px 5px 6px #ccc, 5px 5px 6px #fff;
} 
section.project .card-wrapper .card .front img{
  height: 90%;
}
section.project .card-wrapper .card  .front{
  transform: perspective(600px) rotateY(0deg);
}
section.project .card-wrapper .card .back{
  background: #fff;
  transform: perspective(600px) rotateY(180deg);
}
section.project .card-wrapper .card .back-content{
  text-align: center;
  width: 100%;
}
@media screen and (max-width:1170px){
  section.project .card-wrapper{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width:800px){
  section.project .card-wrapper{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:600px) {
  section.project .card-wrapper{
    grid-template-columns: repeat(1, 1fr);
 }
}

/*footer*/









